<html>


<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>Adulting is hard</title>
  <!-- <style type="text/css">
    .leftPanel {
      color: blue;
      width: 10em;
    }
  </style> -->
</head>

<body>
  <div class="dashboard-container">

    <div class="leftPanel">
      <div id="photo">
        <img src="../assets/grace-jones.jpg" />
      </div>
      <p>
        <h2>Welcome <%= users[0].name %> ! </h2>
      </p>
      <div class="nav-menu">
        <ul>
          <li>
            <img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/100-256.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 20px; display:inline; padding-top: 5px;">
            <a href="./health-general" style="display:inline;">Health</a>
          </li>
          <li>
            <img src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/home-256.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 20px; display:inline; padding-top: 5px;">
            <a href="./residence" style="display:inline;">Residency</a>
          </li>
          <li>
            <img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/131-256.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 25px; display:inline; padding-top: 5px;">
            <a href="./vehicle" style="display:inline;">Vehicle</a>
          </li>
          <li>
            <img src="https://cdn2.iconfinder.com/data/icons/people-80/96/Picture22-256.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 25px; display:inline; padding-top: 5px;">
            <a href="./personal" style="display:inline;">Personal</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rightPanel">
      <h1>Adulting Is Hard</h1>
      <div class="personalInfo">
        <p> <b>Name:</b> <%= users[0].name %> </p>
        <p> <b>Email:</b> <%= users[0].email %> </p>
        <p> <b>Address:</b> <%= users[0].address %> </p>
        <p> <b>Zip Code:</b> <%= users[0].zipCode %> </p>
      </div>

      <div class="upcomingHeader">
        <h2>Upcoming Reminders</h2>
      </div>
      <div class="cardContainer">
        <div class="reminderCard">
          <div>
            <img src="https://cdn4.iconfinder.com/data/icons/energy-4/32/Energy-icons_oil-drum-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 40px; display:inline; padding-top: 5px;">
            <h3 style="display: inline; verticle-align: center;">Oil Change</h3>
          </div>
          <p>
            <b>Date: </b> Oct. 20th @ 2:30pm
          </p>
          <p>
            <b>Location: </b> Bob & Steve's Auto World, Tangletown
          </p>
        </div>
        <div class="reminderCard">
          <div>
            <img src="https://cdn1.iconfinder.com/data/icons/dental-line-smile-maker/512/Tooth-256.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 40px; display:inline; padding-top: 5px;">
            <h3 style="display: inline; verticle-align: center;">Dentist Appt.</h3>
          </div>
          <p>
            <b>Date: </b> Nov. 1st @ 9:30am
          </p>
          <p>
            <b>Location: </b> Park Dental, St. Louis Park
          </p>
        </div>
      </div>
    </div>

  </div>
  <script src="/scripts/client.js"></script>
</body>

</html>
